<div class="picker">
    <div class="container" id="picker">
        {{> icon_logo}}
       
        <form action="{{action}}" method="POST">
            <p style="margin-bottom: 15px">Please select a Patient to continue :</p>

            <input name="challenge" type="hidden" value={{challenge}} />
            <input name="_csrf" type="hidden" value={{csrfToken}} />
            <input name="launch" type="hidden" value={{launch}} />

            {{!-- <div style="margin-bottom: 15px; margin-top: 8px">Patients</div> --}}

            {{#each patients as |patient|}}
             <div style="margin-bottom: 5px">
                <input style="display: inline-block; margin-right: 3px" type="checkbox" id={{patient.resource.id}} value={{patient.resource.id}}
                    name="patient" />
                <div style="display: inline-block">{{patient.resource.name.0.given.0}}</div>
            </div>
            {{/each}}
            <Button type="submit" id="accept" name="submit" value="Allow access">Submit</Button>
        </form>
    </div>
</div>